.page-collar {

	h4 {
		padding: 3vh 10%;
		border-top: 1px solid #fafafa;
		text-transform: uppercase;
		font-weight: 600;
	}

	.footer {
    border-top: 1px solid #e2e2e2;
    height: 100px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $body-bg;
    a {
      display: block;
      border-radius: 5px;
      text-decoration: none;
      font-weight: light;
      text-transform: uppercase;
      padding: 15px 12px;
      font-size: 0.9em;
    }
    .new-location {
      margin-right: 5px;
      border: 2px solid $unlocked-grad-light;
      color: $unlocked-grad-light;

    }
    .retry {
      color: #ccc;
      border: 2px solid #ccc;
    }
	}

}
